body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0px;
  padding: 0px;
}

/* Header Section */
.header {
  display: flex;
  justify-content: space-between;
  color: #f9faf8;
  background-color: #1f2937;
  padding: 5px 20%;
  padding-bottom: 40px;
}

.header-links a {
  color: #e5e7eb;
  padding: 0px;
  margin-left: 20px;
}

/* Introduction Section */
.introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9faf8;
  background-color: #1f2937;
  padding: 5px 20%;
}

.intro-side-text h1,
.intro-side-text p {
  color: #e5e7eb;
  padding: 3px;
  margin: 0;
}

.introduction button {
  background-color: #3882f6;
  border: none;
  border-radius: 8px;
  color: #e5e7eb;
  margin-top: 5px;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
}

.intro-image {
  height: 300px;
  width: 1000px;
  padding: 40px 0px 40px 40px;
}

/* Information Section */
.information {
  background-color: #f9faf8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px 25% 60px 25%;
}

.info-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}

.images-subtext {
  max-width: 150px;
}
.images-subtext img {
  border: 3px solid #3882f6;
  border-radius: 3px;
  height: 150px;
  width: 150px;
}

/* Quote Section */
.quote {
  background-color: rgb(230, 230, 230);
  padding: 20px 25% 60px 25%;
}
.paragraph {
  font-style: italic;
}

.person {
  display: flex;
  font-weight: bold;
  justify-content: flex-end;
}

/* Action Section */
.action {
  padding: 40px 20%;
  background-color: #f9faf8;
}

.action-container {
  background-color: #3882f6;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 9%;
}

.action-text {
  /* display: flex;
  flex: 1 1;
  flex-direction: column;
  gap: 3px; */
}
.action-bold {
  color: white;
  font-weight: 900;
}

.action-thin {
  color: white;
  font-weight: 200;
}

.action-container button {
  background-color: #3882f6;
  border: 2px solid #f9faf8;
  border-radius: 8px;
  color: #e5e7eb;
  margin-top: 5px;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 50px;
  max-width: 100px;
}

/* Footer Section */
.footer {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  color: #f9faf8;
}
